<footer class="page-footer">
  <div class="bg-secondary">
    <div class="row d-flex text-center justify-content-center">
      <div class="col-md-8 col-12 mt-4 text-light">
        <p>
          Ce site a été crée dans le cadre du projet certificatif en 420-345-AL
          Programmation Web avancée
        </p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-12 mt-3">
        <div class= "mb-3 flex-center text-center">
          <a href="#">
            <i
              class="fab fa-twitter fa-lg text-warning mr-4"
              aria-hidden="true"
            ></i>
          </a>

          <a href="#">
            <i
              class="fab fa-google-plus-g fa-lg text-warning mr-4"
              aria-hidden="true"
            >
            </i>
          </a>

          <a href="#">
            <i class="fab fa-youtube fa-lg text-warning mr-4" aria-hidden="true">
            </i>
          </a>
        </div>
      </div>
    </div>

    <hr>

    <div class="row pb-2">
        <div class="col-12">
            <div class="text-center flex-center text-light">
                <p>&copy; 2020 Copyright. By Pravdin Maksym</p>
            </div>
        </div>
    </div>
  </div>
</footer>
